<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://code.alibabatech.com/schema/dubbo
         http://code.alibabatech.com/schema/dubbo/dubbo.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd 
         http://www.springframework.org/schema/tx 
         http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--mvc 注解驱动-->
    <mvc:annotation-driven/>

    <!-- dubbo包扫描-->
    <dubbo:annotation package="com.yanglei.mobile,com.yanglei.util"/>
    <!--    注册中心-->
    <dubbo:registry address="zookeeper://152.136.110.27:2181"/>
    <!--    应用名称-->
    <dubbo:application name="health-mobile"/>
    <!--    消费端启动检查-->
    <dubbo:consumer check="false" timeout="1200000"/>

    <import resource="applicationContext-redis.xml"/>
</beans>